<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/body.css')}}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <title>Customs - Blockchain Mondo Project</title>
    <script type="text/javascript" src="{{url_for('static',filename='javascript/customs.js')}}"></script>
  </head>
  <body onload='expandToWindow();'>
    <!-- Page Layout here -->
      {% include 'header.html' %}
        <div class="col s12 m8 l9">
              <h2>Customs</h2>
              <!-- START MAIN CONTENT -->
              <div class="main_content" style="padding-top: 0.679em;">

                <h3>Network Transactions</h3>
                <div class="network_content">
                  <!-- START TABLE -->
                  <table class="striped centered responsive-table">
                    <thead>
                      <tr>
                          <th>TimeStamp</th>
                          <th>Transaction ID</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{ json_val1 }}</td>
                        <td>{{ json_val }}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- END TABLE -->
                  <!-- Can add Pagination if required :) -->
                </div>

                <h3>Create</h3>
                <div class="create_content center">
                    <a class="waves-effect waves-light btn modal-trigger oval" href="#modal1">Bill of Entry</a>
                    <!-- START MODAL 1 -->
                    <div id="modal1" class="modal modal-fixed-footer modal-smaller">
                      <div class="modal-content">
                      <!-- START FORM 1 (Bill of Entry) -->
                      <h3>Bill of Entry Form</h3>
                      <h5>Issue the Bill of Entry</h5>
                        <div class="row">
                          <form class="col s12" action="customsTrans" method="POST">
                          	<br><br><br>
                            <button class="btn waves-effect waves-light center" type="submit">Submit</button>
                          </form>
                        </div>
                      <!-- END FORM 1 (Bill of Entry) -->
                      </div>
                      <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">close</i></a>
                      </div>
                    </div>
                    <!-- END MODAL 1 -->
                </div>
              </div>
              <!-- END MAIN CONTENT -->
        </div>
      </div>
  </body>
</html>