<div class="row">
        <div id="sider" class="col s12 m4 l3 side-nav center">
              <div class="col s12 center" ><h3>Entities</h3></div>
              <div class="col s6" style="padding-top: 30;"><a href="index"><div class="circle-text" style="background: #26A69A;"><i class="material-icons">home</i></div></a></div>
              <div class="col s6" style="padding-top: 30"><a href="fa"><div class="circle-text">FA</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="who"><div class="circle-text">WHO</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="moh"><div class="circle-text">MOH</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="customs"><div class="circle-text">Customs</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="ihc"><div class="circle-text">IHC</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="mofa"><div class="circle-text">MoFA</div></a></div>
              <div class="col s6" style="padding-top: 20"><a href="ca"><div class="circle-text">Clearing Agent</div></a></div>
              <div class="col s12 center" style="padding-top: 30">v.1.1.27.3.5</div>
        </div>

<script type="text/javascript">
    function expandToWindow() {
         var body = document.body,
         html = document.documentElement;
         var height = Math.max( body.scrollHeight, body.offsetHeight,
                       html.clientHeight, html.scrollHeight, html.offsetHeight );
         document.getElementById("sider").style.height = height;
    }
</script>

<style type="text/css">
.side-nav {
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    color: white;
}

.circle-text {
  display: table-cell;
  height: 100px;
  width: 100px;
  text-align: center;
  vertical-align: middle;
  background: black;
  color: #fff;
  /*border: thin solid gray;*/
}


</style>