<html>
  <head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/body.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-alpha.2/js/materialize.min.js"></script>
    <title>IHC - Blockchain Mondo Project</title>
    <script type="text/javascript">
    // For the DatePicker utility from MaterializeCSS :)
      $(document).ready(function(){
        $('.collapsible').collapsible();
      });
      $(document).ready(function(){
        $('.datepicker').datepicker({
          container: 'body'
        });
      });
      $(document).ready(function(){
        $('select').select();
      });
      $(document).ready(function(){
        $('.modal').modal();
      });



      function toastMe(value)
      {
        if(value=='yes')
        {
      var toastHTML = 'Request Approved';
        }
        else
        {
          var toastHTML = 'Request Rejected';
        }
        M.toast({html: toastHTML, classes: 'rounded',displayLength: 3000});
        setTimeout(function (){
          $('#modal1').modal('close');
        }, 3000);
      }

      function approve(command, value, index)
      {
        if(value=='yes')
        {
          var toastHTML = command+' Approved';
        }
        else
        {
          var toastHTML = command+ ' Rejected';
        }
        M.toast({html: toastHTML, classes: 'rounded',displayLength: 3000});
        $('.collapsible').collapsible('close', index);
      }
    </script>
  </head>
  <body onload='expandToWindow();'>
    <!-- Page Layout here -->
      {{include 'default/header.html'}}
        <div class="col s12 m8 l9">
              <h2>International Humanitarian City - IHC</h2>
              <!-- START MAIN CONTENT -->
              <div class="main_content" style="padding-top: 0.679em;">

                <h3>Network Transactions</h3>
                <div class="network_content">
                  <!-- START TABLE -->
                        <table class="striped centered responsive-table">
                          <thead>
                            <tr>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Transaction ID</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>Dec 10, 2017</td>
                              <td>01:33:45</td>
                              <td>8D85F559EC1A56D9E6D80B72F61C22B9BD4939034CDAF88E8E7A13868F24C73E</td>
                            </tr>
                            <tr>
                              <td>Dec 11, 2017</td>
                              <td>14:25:00</td>
                              <td>387ECCA8BB2A9C6CDF1EE2781DFAC8C1B6A0715F4B3C7C3A56A9CF8AAF6FEE46</td>
                            </tr>
                            <tr>
                              <td>Dec 25, 2017</td>
                              <td>05:55:18</td>
                              <td>65D0E4E72A6799688218FFA5216863173127B07DBA48E45420AA93B5F7762D5A</td>
                            </tr>
                          </tbody>
                        </table>
                  <!-- END TABLE -->
                  <!-- Can add Pagination if required :) -->
                </div>

                <h3>Create</h3>
                <div class="create_content center">
                  <!-- START MoFA LETTER -->
                  <a class="waves-effect waves-light btn modal-trigger oval" href="#modal1">MoFA Letter</a>
                    <!-- START MODAL 1 -->
                    <div id="modal1" class="modal modal-fixed-footer modal-smaller">
                      <div class="modal-content">
                      <!-- START FORM 1 (Cover Letter) -->
                      <h3>MoFA Letter Form</h3>
                      <h5>Upload MoFA Letter</h5>
                        <div class="row">
                          <div class="file-field input-field">
                            <div class="btn">
                              <span>MoFA Letter</span>
                              <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <form class="col s12">
                            <button class="btn waves-effect waves-light center" type="submit" name="action">Submit</button>
                          </form>
                        </div>
                      <!-- END FORM 1 (Cover Letter) -->
                      </div>
                      <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">close</i></a>
                      </div>
                    </div>
                    <!-- END MODAL 1 -->
                  <!-- END MoFA LETTER -->
                  <!-- START WHO LETTER -->
                  <a class="waves-effect waves-light btn modal-trigger oval" href="#modal2">WHO Letter</a>
                    <!-- START MODAL 1 -->
                    <div id="modal2" class="modal modal-fixed-footer modal-smaller">
                      <div class="modal-content">
                      <!-- START FORM 1 (Cover Letter) -->
                      <h3>WHO Letter Form</h3>
                      <h5>Upload WHO Letter</h5>
                        <div class="row">
                          <div class="file-field input-field">
                            <div class="btn">
                              <span>WHO Letter</span>
                              <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                              <input class="file-path validate" type="text">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <form class="col s12">
                            <button class="btn waves-effect waves-light center" type="submit" name="action">Submit</button>
                          </form>
                        </div>
                      <!-- END FORM 1 (Cover Letter) -->
                      </div>
                      <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">close</i></a>
                      </div>
                    </div>
                    <!-- END MODAL 1 -->
                  <!-- END WHO LETTER -->
                  <!-- START Bill of Lading -->
                  <a class="waves-effect waves-light btn modal-trigger oval" href="#modal-bill-of-lading">Airway/Bill of Lading</a>
                    <div id="modal-bill-of-lading" class="modal modal-fixed-footer modal-bigger">
                      <div class="modal-content">
                        <!-- START FORM (BILL OF LADING) -->
                        <h3>Airway/Bill of Lading Form</h3>
                          <div class="row">
                            <!-- FROM -->
                            <h5>From</h5>
                            <form class="col s12">
                              <!-- fromId -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="fromID">
                                  <label for="fromID">From ID</label>
                                </div>
                              </div>
                              <!-- Date -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="datelading" class="datepicker">
                                  <label for="datelading">Date</label>
                                </div>
                              </div>
                              <!-- Sender's First/Last Names -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <input type="text" id="senderfirst">
                                  <label for="senderfirst">Sender's First Name</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="text" id="senderlast">
                                  <label for="senderlast">Sender's Last Name</label>
                                </div>
                              </div>
                              <!-- Phone Number -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="phonenum">
                                  <label for="phonenum">Phone Number</label>
                                </div>
                              </div>
                              <!-- Delivery Address/Zip Code -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <textarea class="materialize-textarea" id="deladdress"></textarea>
                                  <label for="deladdress">Delivery Address</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="text" id="zipcode" class="datepicker">
                                  <label for="zipcode">Zip Code</label>
                                </div>
                              </div>
                            </form>
                            <!-- TO -->
                            <h5>To</h5>
                            <form class="col s12">
                              <!-- toId -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="toID">
                                  <label for="toID">To ID</label>
                                </div>
                              </div>
                              <!-- Recipient's First/Last Names -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <input type="text" id="recipientfirst">
                                  <label for="recipientfirst">Recipient's First Name</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="text" id="recipientlast">
                                  <label for="recipientlast">Recipient's Last Name</label>
                                </div>
                              </div>
                              <!-- Phone Number -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="phonenum">
                                  <label for="phonenum">Phone Number</label>
                                </div>
                              </div>
                              <!-- Delivery Address/Zip Code -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <textarea class="materialize-textarea" id="deladdress"></textarea>
                                  <label for="deladdress">Delivery Address</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="text" id="zipcode" class="datepicker">
                                  <label for="zipcode">Zip Code</label>
                                </div>
                              </div>
                              <!-- Tax ID Number -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="number" id="taxnumber">
                                  <label for="taxnumber">Zip Code</label>
                                </div>
                              </div>
                            </form>
                            <!-- SHIPMENT INFORMATION -->
                            <h5>Shipment Information</h5>
                            <form class="col s12">
                              <!-- shipmentId -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="shipmentID">
                                  <label for="shipmentID">Shipment ID</label>
                                </div>
                              </div>
                              <!-- Shipment Information -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="shipmentInfo">
                                  <label for="shipmentInfo">Shipment Information</label>
                                </div>
                              </div>
                              <!-- Description -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <textarea class="materialize-textarea" id="desc"></textarea>
                                  <label for="desc">Description</label>
                                </div>
                              </div>
                              <!-- Country of Manufacture -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="countryofmanufacture">
                                  <label for="countryofmanufacture">Country of Manufacture</label>
                                </div>
                              </div>
                              <!-- Total Value of Customs -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="number" id="totalValOfCustoms" step=any>
                                  <label for="totalValOfCustoms">Total Value of Customs</label>
                                </div>
                              </div>
                            </form>       
                            <!-- POSTAL INFORMATION -->
                            <h5>Postal Information</h5>
                            <form class="col s12">
                              <!-- postalId -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="postalID">
                                  <label for="postalID">Postal ID</label>
                                </div>
                              </div>
                              <!-- Acceptance Date/Acceptance Time -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <input type="text" class="datepicker" id="acceptanceDate">
                                  <label for="acceptanceDate">Acceptance Date</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="text" class="timepicker" id="acceptanceTime">
                                  <label for="acceptanceTime">Acceptance Time</label>
                                </div>
                              </div>
                              <!-- Scheduled Delivery Date -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" class="datepicker" id="deliveryDate">
                                  <label for="deliveryDate">Scheduled Delivery Date</label>
                                </div>
                              </div>
                              <!-- Acceptance Zip + 4 Code -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="acceptancezip">
                                  <label for="acceptancezip">Acceptance Zip + 4 Code</label>
                                </div>
                              </div>
                              <!-- Employee Initials -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text" id="empinitials">
                                  <label for="empinitials">Employee Initials</label>
                                </div>
                              </div>
                              <!-- Dimension in Inches -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="number" step=any id="dimension">
                                  <label for="dimension">Dimension</label>
                                </div>
                              </div>
                              <!-- Weight of Shipment -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="number" step=any id="weightofshipment">
                                  <label for="weightofshipment">Weight of Shipment</label>
                                </div>
                              </div>
                              <!-- Postage in US Dollars -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="number" step=any id="postage">
                                  <label for="postage">Postage in $</label>
                                </div>
                              </div>
                              <!-- Insurance Fee/Total Postage and Fees -->
                              <div class="row">
                                <div class="input-field col s6">
                                  <input type="number" step=any id="insurancefee">
                                  <label for="insurancefee">Insurance Fee</label>
                                </div>
                                <div class="input-field col s6">
                                  <input type="number" step=any id="postageandfees">
                                  <label for="postageandfees">Total Postage and Fees</label>
                                </div>
                              </div>
                              <!-- Packaging Type -->
                              <div class="row">
                                <div class="input-field col s12">
                                  <input type="text"  id="packagingtype">
                                  <label for="packagingtype">Packaging Type</label>
                                </div>
                              </div>                              
                            </form>  
                            <div class="row">
                              <form class="col s12">
                                <button class="btn waves-effect waves-light center" type="submit" name="action">Submit</button>
                              </form>
                            </div>                            
                          </div>
                        <!-- END FORM (BILL OF LADING) -->
                      </div>
                      <div class="modal-footer">
                      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat "><i class="material-icons">close</i></a>
                      </div>
                    </div>
                  <!-- END Bill of Lading -->
                </div>
              </div>
              <!-- END MAIN CONTENT -->
        </div>
      </div>
  </body>
</html>